<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formClientAdd">
                <div class="form-group">
                    <label>Nom</label>
                    <input class="form-control" type="text" formControlName="clientName" [class.is-invalid]="formClientAdd.get('clientName').touched && formClientAdd.get('clientName').invalid">
                </div>
                <div class="form-group">
                    <label>Cognom</label>
                    <input type="text" class="form-control" formControlName="clientSurname">
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="text" class="form-control" formControlName="clientTelefon">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="clientEmail">
                </div>
            
                <button type="button" class="btn btn-outline-success" (click)="guardar()">Guardar</button>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
