<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Client</h1>
            <form [formGroup]="formClientDetail">
                <div class="form-group">
                    <label>Nom</label>
                    <input class="form-control" type="text" formControlName="clientName" [class.is-invalid]="formClientDetail.get('clientName').touched && formClientDetail.get('clientName').invalid">
                </div>
                <div class="form-group">
                    <label>Congom</label>
                    <input type="text" class="form-control" formControlName="clientSurname">
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="text" class="form-control" formControlName="clientTelefon">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="clientEmail">
                </div>
                <button (click)="update()" type="submit" class="btn btn-outline-success">Enviar</button>
            </form>
        </div>
        <!-- Taula de vehicles -->
        
        <div class="col-12 my-4">
            <h2 class="text-center">Vehicles Client</h2>
            <button  class="btn btn-outline-success my-4" (click)="mostrarAfegir()">Afegir Vehicle</button>
            <p-table #detailClientTable [value]="client.llistaVehicles" sortMode="multiple" [paginator]="true" [rows]="5"
            [globalFilterFields]="['numSerie','name','surname']"
            >
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="detailClientTable.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
        

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="numSerie" >Numero de Serie <p-sortIcon field="id"></p-sortIcon> </th>
                    <th pSortableColumn="marca">Marca <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="model">Model <p-sortIcon field="surname"></p-sortIcon></th>
                    <th>Veure/Editar</th>
                    <th>Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vehicleUnic>
                <tr>
                    <td>{{vehicleUnic.numSerie}}</td>
                    <td>{{vehicleUnic.marca}}</td>
                    <td>{{vehicleUnic.model}}</td>
                    <td class="text-center"><a href="vehicles/detail/{{vehicleUnic.numSerie}}" class="btn btn-sm btn-success"><i class="pi pi-pencil"></i></a></td>
                    <td class="text-center"><button (click)="eliminar(vehicleUnic.numSerie)" class="btn btn-sm btn-danger"><i class="pi pi-trash"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>

<p-toast></p-toast>

<!-- Dialog box -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> 