<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formVehicleAdd" class="my-2">
                <div class="form-group">
                    <label>Número de Serie</label>
                    <input class="form-control" type="text" name="numSerie" formControlName="formNumSerie">
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input class="form-control" type="text" name="marca" formControlName="formMarca">
                </div>
                <div class="form-group">
                    <label>Model</label>
                    <input class="form-control" type="text" name="Model" formControlName="formModel">
                </div>
                <button class="btn btn-primary">Guardar</button>
                <a class="btn btn-success" href="/incidencia/{{vehicle.numSerie}}">Afegir incidencia</a>
            </form>

            <!-- Llistat amb totes les incidències del vehicle -->
            <h2>Incidències Vehicle</h2>
            <p-table [value]="vehicle.llistaIncidencies">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Data Entrada</th>
                        <th>Data Sortida</th>
                        <th>Observacions</th>
                        <th>Temps Total</th>
                        <th>Preu Final</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-incidencia>
                    <tr>
                        <td>{{incidencia.id}}</td>
                        <td>{{incidencia.dataEntrada}}</td>
                        <td>{{incidencia.dataSortida}}</td>
                        <td>{{incidencia.observacions}}</td>
                        <td>{{incidencia.tempsTotal}}</td>
                        <td>{{incidencia.preuFinal}}</td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
    </div>
</div>