<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Full de treball</h2>
            <form [formGroup]="formIncidencia">
                <div class="row">
                    <div class="col my-2">
                        <div class="form-group">
                            <label>Nom Client</label>
                            <input class="form-control" formControlName="nameClient" type="text" readonly>
                        </div>
                    </div>
                    <div class="col my-2">
                        <div class="form-group">
                            <label>NumSerie Vehicle</label>
                            <input class="form-control" formControlName="numSerie" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <label>Telèfon: {{client.telefon}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <div class="form-group">
                            <label class="d-block">Data Entrada</label>
                            <p-calendar class="d-block" name="dataEntrada" formControlName="dataEntrada" dateFormat="dd/mm/yy" showButtonBar="true"></p-calendar>
                        </div>
                    </div>
                    <div class="col my-2">
                        <div class="form-group d-block">
                            <label class="d-block">Data Sortida</label>
                            <p-calendar class="d-block" name="dataSortida" formControlName="dataSortida" dateFormat="dd/mm/yy" showButtonBar="true"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <label>Detalls Observacions</label>
                        <textarea rows="7" class="form-control" formControlName="observacions"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <label>Descripció Feina</label>
                        <textarea rows="7" class="form-control" formControlName="descFeina"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <label>Temps 38€/h a 0.63 el minut.</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <label>Temps Total</label>
                        <input type="number" class="form-control" formControlName="tempsTotal" (input)="calcTotal()">
                    </div>
                    <div class="col my-2">
                        <label>Import temps</label>
                        <input type="number" class="form-control" formControlName="importTemps" disabled>
                    </div>
                    <div class="col my-2">
                        <label>Preu Final</label>
                        <input type="number" class="form-control" formControlName="preuFinal">
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        <button type="button" class="btn btn-sm btn-success mr-2" (click)="guardar()">Guardar</button>
                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="imprimirPDF()">Imprimir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Toast -->
<p-toast></p-toast>
